<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="../assets/icon.png">
    <title>Usuario</title>
</head>
<body>

    <div class="container-sm">
        <div class="card rounded-3 border-3 shadow mt-5" id="panel">
            <div class="card-body p-md-5 mx-md-4">
                <h4 class="mt-1" id="usuario"></h4>
            </div>
        </div>
    </div> 

<script src="script/user.js"></script>
</body>
</html>