:root {
    --main: linear-gradient(156deg, #d80319, #a4464a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    --corporativo: #d80319;
}

html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background: var(--main); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
    margin-bottom: 0;
}

.gradiente {
    background: #e65c00;  /* fallback for old browsers */
    background: var(--main);
    border: transparent;
}

.efecto:focus {
    box-shadow: 0 0 0 0.25rem #f308083a;
    border: transparent 1px solid;
}

.fondo-corporativo{
    background-color: var(--corporativo)
}

.btn {
    background-color: var(--corporativo);
    color: var(--bs-white);
    transition: 0.5s;
}

.btn:hover {
    color: #ffffff;
}

a {
    color: var(--corporativo);
}

a:hover {
    color: #d45c68;
}
